Repository mad-sol-dev/pdf-reader-mcp: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Managed by @sylphx/doctor
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: npx biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      exclude: "dist/*"
      run: npx biome check {staged_files}

    doctor:
      run: ./node_modules/.bin/doctor check --pre-commit

pre-push:
  commands:
    doctor:
      run: ./node_modules/.bin/doctor check --pre-push

Surface range truncation warnings
  README.md
  src/handlers/getImage.ts
  src/handlers/getPageStats.ts
  src/handlers/listImages.ts
  src/handlers/readPages.ts
  src/handlers/readPdf.ts
  src/handlers/searchPdf.ts
  src/pdf/parser.ts
  test/pdf/parser.test.ts
Due: format, lint

feat(pdf_read_pages): add insert_markers for content type detection
  CHANGELOG.md
  CLAUDE.md
  CLIENT_HEURISTICS.md
  CONTENT_MARKERS_IMPLEMENTATION.md
  OCR_BACKLOG.md
  README.md
  dist/index.js
  src/handlers/readPages.ts
  src/pdf/extractor.ts
  src/pdf/tableDetection.ts
  src/pdf/text.ts
  src/schemas/readPages.ts
  src/types/pdf.ts
  test/pdf/tableDetection.test.ts
  test/pdf/text-markers.test.ts
Due: format, lint

feat(ocr): add persistent disk cache for OCR results
  CHANGELOG.md
  OCR_BACKLOG.md
  dist/index.js
  src/handlers/ocrImage.ts
  src/handlers/ocrPage.ts
  src/types/cache.ts
  src/utils/diskCache.ts
Due: format, lint

docs(backlog): mark insert_markers feature as implemented
  OCR_BACKLOG.md
Due: none

feat(ocr): add production-ready Mistral Vision OCR wrapper service
  mistral-ocr-wrapper/.gitignore
  mistral-ocr-wrapper/README.md
  mistral-ocr-wrapper/package.json
  mistral-ocr-wrapper/src/index.ts
  mistral-ocr-wrapper/tsconfig.json
Due: format, lint

fix(ocr): add .env.example template to wrapper
  mistral-ocr-wrapper/.env.example
  mistral-ocr-wrapper/.gitignore
Due: none

feat(security): guard paths and stream PDF downloads
  .gitignore
  .mcp.json
  .mcp.json.example
  README.md
  docs/guide/getting-started.md
  src/pdf/loader.ts
  src/utils/pathUtils.ts
  test/pathUtils.test.ts
  test/pdf/loader.pathGuard.test.ts
  test/pdf/loader.test.ts
Due: format, lint

chore(repo): update local artifacts
  dist/index.js
  test-insert-markers.js
  test/pdf/parser.test.ts
Due: format, lint

feat(images): surface extraction warnings
  src/handlers/getImage.ts
  src/handlers/getPageStats.ts
  src/handlers/listImages.ts
  src/handlers/ocrImage.ts
  src/handlers/readPages.ts
  src/handlers/readPdf.ts
  src/handlers/searchPdf.ts
  src/pdf/extractor.ts
  test/handlers/pageGuards.test.ts
  test/handlers/readPdf.test.ts
  test/pdf/extractor.test.ts
Due: format, lint

feat(ocr): add Smart OCR, Mistral OCR API provider, dynamic table detection
  CLAUDE.md
  README.md
  biome.json
  bun.lock
  dist/index.js
  docs/guide/getting-started.md
  docs/guide/ocr-providers.md
  lefthook.yml
  mistral-ocr-wrapper/src/index.ts
  package.json
  src/handlers/getImage.ts
  src/handlers/ocrPage.ts
  src/pdf/extractor.ts
  src/pdf/tableDetection.ts
  src/schemas/ocr.ts
  src/types/pdf.ts
  src/utils/ocr.ts
  src/utils/pathUtils.ts
  test-insert-markers.js
  test/handlers/ocrPage.test.ts
  test/handlers/readPdf.test.ts
  test/pathUtils.test.ts
  test/pdf/extractor.test.ts
  test/pdf/loader.pathGuard.test.ts
  test/pdf/loader.test.ts
  test/pdf/tableDetection.test.ts
  test/utils/ocr.test.ts
  test_ocr.json
Due: format, lint

fix(rendering): fix PDF rendering with embedded images
  .gitignore
  BUG_REPORT_RENDERING.md
  OCR_COMPARISON_TEST.md
  bun.lock
  package.json
  src/index.ts
  src/pdf/canvasFactory.ts
  src/pdf/loader.ts
  src/pdf/polyfills.ts
  src/pdf/render.ts
  test/handlers/readPdf.test.ts
Due: format, lint

docs(ocr): add comprehensive Mistral OCR documentation and backlog
  BACKLOG.md
  docs/guide/mistral-ocr-capabilities.md
  docs/guide/three-stage-ocr-workflow.md
Due: none

fix(ocr): parse boolean extras from strings
  dist/index.js
  src/utils/ocr.ts
Due: format, lint

docs(ocr): document Vision vs OCR API usage for diagrams
  OCR_COMPARISON_TEST.md
  dist/index.js
  docs/guide/three-stage-ocr-workflow.md
  src/handlers/ocrImage.ts
  src/handlers/ocrPage.ts
Due: format, lint

docs: add session log for Vision vs OCR API testing
  docs/sessions/2025-12-23-vision-vs-ocr-api-testing.md
Due: none

docs(guide): update getting-started.md for v2.2.0
  docs/guide/getting-started.md
Due: none

docs(guide): complete index.md rewrite for v2.2.0
  docs/guide/index.md
Due: none

docs(changelog): add comprehensive v2.2.0 release entry
  CHANGELOG.md
Due: none

docs: update for fork status and local build installation
  README.md
  package.json
Due: format

docs: add .env.example for environment configuration
  .env.example
  .gitignore
  README.md
Due: none

feat(info): add consolidated pdf_info tool
  src/handlers/pdfInfo.ts
  src/index.ts
  src/pdf/polyfills.ts
  src/schemas/pdfInfo.ts
Due: format, lint

feat(extract): rename pdf_get_image to pdf_extract_image
  src/handlers/extractImage.ts
  src/index.ts
  src/schemas/extractImage.ts
Due: format, lint

docs(search): enhance pdf_search description with workflow guidance
  dist/index.js
  src/handlers/searchPdf.ts
  test_ocr.json
Due: format, lint

refactor(ocr): simplify provider config, move to server-side env vars
  dist/index.js
  src/handlers/pdfOcr.ts
  src/schemas/ocr.ts
  src/schemas/pdfOcr.ts
  test/handlers/ocrPage.test.ts
  test_ocr.json
Due: format, lint

feat(workflow): add next_step hints to guide LLM through 3-stage workflow
  dist/index.js
  src/handlers/pdfOcr.ts
  src/handlers/searchPdf.ts
  src/utils/workflow.ts
  test_ocr.json
Due: format, lint

fix(stdio): enhance stdout filtering to catch all warnings
  dist/index.js
  src/index.ts
  test_ocr.json
Due: format, lint

fix(ocr): correct renderPageToPng calls in pdf_ocr handler
  src/handlers/pdfOcr.ts
Due: format, lint

fix(ocr): extract table content and fix disk cache parameters
  src/handlers/pdfOcr.ts
  src/utils/ocr.ts
Due: format, lint
