Repository mad-sol-dev/pdf-reader-mcp: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Managed by @sylphx/doctor
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: npx biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      exclude: "dist/*"
      run: npx biome check {staged_files}

    doctor:
      run: ./node_modules/.bin/doctor check --pre-commit

pre-push:
  commands:
    doctor:
      run: ./node_modules/.bin/doctor check --pre-push

fix: address critical event loop blocking and security issues
  biome.json
  dist/index.js
  src/handlers/pdfOcr.ts
  src/handlers/searchPdf.ts
  src/index.ts
  src/pdf/canvasFactory.ts
  src/pdf/loader.ts
  src/pdf/render.ts
  src/utils/diskCache.ts
  test/handlers/ocrPage.test.ts
  test/utils/diskCache.test.ts
Due: format, lint

fix(lefthook): replace hanging doctor prepush with direct test command
  lefthook.yml
Due: none

Corrected the year of the session in TESTING_NOTES.md
  TESTING_NOTES.md
Due: none

chore: update GitHub username from BadlyDrawnBoy to mad-sol-dev
  CHANGELOG.md
  README.md
  package.json
Due: format

fix(text-extraction): correct rotation handling and improve text quality
  CHANGELOG.md
  dist/index.js
  package.json
  src/handlers/pdfOcr.ts
  src/index.ts
  src/pdf/extractor.ts
  src/pdf/geometry.ts
  src/utils/logger.ts
  test/handlers/ocrPage.test.ts
  test/pdf/geometry.test.ts
Due: format, lint

fix(cache): prevent data loss and deadlocks in disk cache operations
  src/handlers/pdfOcr.ts
  src/handlers/pdfVision.ts
  src/utils/diskCache.ts
Due: format, lint

fix(search): prevent ReDoS attacks with RE2 regex engine
  bun.lock
  package.json
  src/handlers/searchPdf.ts
Due: format, lint

fix(validation): add P1 high-priority security and robustness fixes
  src/pdf/loader.ts
  src/schemas/pdfSource.ts
  src/utils/diskCache.ts
  test/integration/pdfjs-internals.test.ts
Due: format, lint

perf(cache): add P2 medium-priority performance and robustness improvements
  src/handlers/pdfOcr.ts
  src/pdf/extractor.ts
  src/utils/diskCache.ts
Due: format, lint

chore: anonymize author information
  README.md
  docs/sessions/2025-12-23-vision-vs-ocr-api-testing.md
Due: none
